body {
    background-color: black;
    color:white;
}
div{
   text-align:center;
}
    li{
        list-style-type:none;
    }
    .floating-image{
        right: 0px;
bottom: 0px;
position: fixed;
    }